a {
  text-decoration: none;
}

.hidden-list {
  display: none;
}

.user-name a {
  color: white;
}

.user-profile {
  margin: 0 5px 0 auto;
}

.header {
  height: 50px;
  font-family: 'メイリオ';
  display: flex;
  align-items: center;
}

.user-name {
  margin: 15px;
}

.top-menu-contents {
  height: 80px;
  background-color: white;
}

.top-menu-category {
  height: 70%;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.top-menu-category-name {
  height: 100%;
  width: calc(100% / 3);
  font-size: 25px;
  margin: 2px 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.goal {
  height: 30%;
  display: flex;
}

.goal-contents {
  width: calc(100% / 3);
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.goal-contents-name {
  width: calc(100% / 3);
}

.history-top {
  height: calc(100vh - 50px - 80px);
}

.history-category {
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.history-category-name {
  width: calc(100% / 3);
  margin: 0 0.5em;
  border-right: solid 2px gray;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
}

.history-meal, .history-digital, .history-communication {
  margin-left: 10px;
}

.history-calory{
  margin-bottom: 5px;
}

.history-contents {
  height: 200px;
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  position: relative;
}

.contents-name {
  position: absolute;
  margin-top: 20px;
  width: 90%;
}

.meal-image, .digital-image, .communication-image {
  height: 200px;
  width: 100px;
  position: absolute;
  background-size: cover;
}

.meal-image {
  background-image: image-url('meal.jpg');
}

.digital-image {
  background-image: image-url('digital.jpg');
}

.communication-image {
  background-image: image-url('communication.png');
}

.day {
  display: inline-block;
  width: calc(100% / 2.5 );
  padding-left: 10px;
}



.content-history {
  display: inline-block;
  width: calc(100% / 2.5 );
}

.contents-meal {
  display: flex;
}

.achieve-history-meal {
  bottom: 0;
  width: 100px;
  margin: 0 0 0 auto;
  display: flex;
  flex-direction: column;
}
